@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 91%;
    --foreground: 206 33% 15%;
    --card: 0 0% 100%;
    --card-foreground: 206 33% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 206 33% 15%;
    --primary: 206 33% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 85.1%;
    --secondary-foreground: 206 33% 29%;
    --muted: 0 0% 85.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 206 33% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 80%;
    --input: 0 0% 90%;
    --ring: 206 33% 29%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 206 33% 10%;
    --foreground: 0 0% 98%;
    --card: 206 33% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 206 33% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 206 33% 15%;
    --secondary: 0 0% 45.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 45.1%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 45.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 45.1%;
    --input: 0 0% 45.1%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
